In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine 

# Connect to MySQL
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='surya80',
    database='studenr_info'   # check spelling
)
engine = create_engine('mysql+mysqlconnector://root:surya80@localhost/studenr_info')

query = "SELECT * FROM students"
df = pd.read_sql(query, engine)

print(df)

conn.close()

   student_id first_name last_name  gender date_of_birth  \
0           1       Amit    Sharma    Male    2002-05-12
1           2      Priya     Reddy  Female    2001-10-22
2           3       John       Doe    Male    2003-02-15
3           4       Sara      Khan  Female    2002-11-05

                     email       phone
0  amit.sharma@example.com  9876543210
1  priya.reddy@example.com  9876543211
2     john.doe@example.com  9876543212
3    sara.khan@example.com  9876543213